*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/casinoPic.jfif);
    background-size: cover 800PX;;
    background-repeat: no-repeat;
    height: auto;
    width: auto;  
    opacity: 1;
}

.Game{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(41, 93, 114, 0.6);
    width: 850px;
    height: 450px;
    position: absolute;
    top: 25%;
    left: 19%;   
}
@keyframes Title {
    25% {color: cornsilk;}
    75% {color:orange  ;}
  }

#Slogan {
    background-color:rgba(29, 56, 56, 0.658);
}
#Slogan h1{
    animation: Title 2s infinite;
    margin-left: 40%;
    margin-top: 30px; 
    color: rgba(195, 197, 174, 0.692);   
}
#chip{
    height: 5px;
    width: 50px;
}
#Brain{
    margin-right: 370px;
    height:80px ;
    width: 80px; 
}
.brainGuess{
    display: flex;
}

#secondePart{
    margin-top: 60px;
}
.chip{
    height: 50px;
    width: 50px;
}
#secondePart h3 input {
    background-color: rgb(131, 175, 131);
    width: 70px;
    height: 26px;
    border:2px solid rgb(139, 165, 139);
    border-radius: 5px;
    margin: 0px 0px 0px 45px;
    
}
button:hover{ 
    background-color: brown;   
}
button{
    color: black;
    font-weight: bold;
    height:30px ;
    width: 80px;
    margin: 30px 0px 20px 100px;
    border-radius: 5px;
}
textarea{
    color: white;
    margin: 0px 50px;
}


